.section-title {
    /* padding-bottom: 2rem; */
    /* border-bottom: 2px solid #ccc; */
    margin-bottom: 3rem;
}

.section-title__ja {
    font-weight: 400;
    font-size: 1.2rem;
    color: #888;
}

.section-title__en {
    font-weight: 600;
    font-size: 2.2rem;
    margin-bottom: 0.25rem;
    display: block;
}